.image {
    max-height: 300px;
    max-width: 300px;
}
.button button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
}


.button button:hover,
.button button:active {
    background: #741188;
    border-color: #741188;
}

.button button:focus {
    outline: none;
}